@font-face{font-family:Dogica;src:url(dogicapixel.4b546eb7.ttf)}canvas{max-width:1000px;max-height:711.11px}*{padding:0;margin:0}body{font-family:dogica}
/*# sourceMappingURL=index.83cb41bf.css.map */
