* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'font';
    src: url('font.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

html {
    height: -webkit-fill-available;
}

body {
    font-family: "font";
    padding: 10px;
    background-color: #63a650;
    min-height: -webkit-fill-available;
}

.rosso {
    background-color: #a82b2d;
}


.container{
    min-width: 100%;
    min-height: 100vh;
    padding-top: 15vh;
    justify-content: start;
    align-items: center;
    display: flex;
    background-color: #fff;
    color: #000;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
}

img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    image-rendering: crisp-edges;
}

p {
    font-size: 32px;
    padding: 5px;
}