@font-face {
    font-family: Dogica;
    src: url('./Assets/fonts/dogica/TTF/dogicapixel.ttf');
}

canvas {
    max-width: 1000px; 
    max-height: 711.11px;
    
}
* {
   padding: 0;
   margin: 0;
}

body {
    font-family: "dogica";
}